<div class="hero mt-16">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">NanoMark</h1>
      <p class="text-neutral-content pt-6">
        Join the waitlist to get early access to NanoMark, the ultimate
        benchmarking tool for Cloudflare Workers. Measure, analyze, and optimize
        your serverless functions with ease. 🔥
      </p>

      <p class="pt-4">Launch Date: Some time in 2026!</p>
    </div>
  </div>
</div>
